In [27]:
import numpy as np
import pandas as pd

np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1     = n_samples-n_class_0

In [28]:
n_class_0, n_class_1

(900, 100)

In [29]:
# dataframe

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1]*n_class_1
})

In [30]:
df =pd.concat([class_0, class_1]).reset_index(drop=True)
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

[1000 rows x 3 columns]

In [31]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [32]:
df_minority = df[df['target']==1]
df_majoirity = df[df['target']==0]

In [33]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority, 
         replace=True,
         n_samples=len(df_majoirity), 
         random_state=42)
df_minority_upsampled.shape[0]

900

In [34]:
df_upsampled = pd.concat([df_majoirity, df_minority_upsampled])
df_upsampled

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

[1800 rows x 3 columns]

In [36]:
df_minority = df[df['target']==1]
df_majoirity = df[df['target']==0]

from sklearn.utils import resample
df_majority_downsampled = resample(df_majoirity, 
         replace=False,
         n_samples=len(df_minority), 
         random_state=42)
df_majority_downsampled.shape[0]

df_downsampled = pd.concat([df_majority_downsampled, df_minority])
df_upsampled

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

[1800 rows x 3 columns]